
.weather-hourly{
    padding: 0 1rem;
    display: flex;
    overflow: scroll;
    align-items: stretch;
    margin-top: 1rem;
    
}

.hourly-card:first-child {
 margin-top: 1em;
 background-color: #f0f;
}

