.weather-hourly{
    padding: 1rem;
    display: flex;
    flex-wrap: nowrap !important;
    overflow-x: scroll !important;
    align-items: stretch;
    
}

.hourly-card:hover {
 background-color: rgb(174, 198, 221) !important;
}

.hourly-card-code{
    height: 90px;

}
