.weather-header{
    background-color: rgb(33, 146, 211);
    /* overflow-x: hidden; */
    box-sizing: border-box;
    padding: 1rem;
}

.toggle-Text{
    color:#fff;
    font-size: 1.5rem;
}

.weather-loader{
    padding: 1rem;
    margin: 1rem;
}