.wind-arrow {
    height: 20px;
    width: 20px;
}

.weather-current {
    padding: 1rem;
    color: #fff;
    font-size: 2.5rem;
    border-bottom: 1px solid #fff;
}

.weather-current-header{
display: flex;
justify-content: space-evenly;
align-items: flex-start;
flex-wrap: wrap;

}

.weather-current-temperature{
font-size: 6rem;
}

.weather-current-weathercode{
    
}

.weather-current-details{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.weather-current-details-wind{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-current-wind{
margin-left: 1rem;
}

.weather-current-details-rain{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-current-rain{
    margin-left: 1rem;
}

.weather-current-details-pressure{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-current-pressure{
    margin-left: 1rem;
}